.starry-page {
  height: 100%;
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 5vw auto auto;
  align-content: flex-start;
}

.bio-animation,
.aboutme-animation,
.writing-animation,
.research-animation {
  font-size: 5vw;
  font-weight: 700;
}

.bio {
  font-size: 3vw;
  margin: 0;
}

.twinkle-box {
  text-align: left;
  padding: 50px 50px;
  background-color: rgba(0, 0, 0, 0.6);  /* Translucent black background */
  border-radius: 50px;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 1;
  box-shadow: 0 0 2rem 0.3rem #a683ff; /* */
}

.twinkle-box::before,
.twinkle-box::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: linear-gradient(
    var(--gradient-angle),
    white,
    #0a001d,
    #1c1639
  );
  animation: rotation 20s linear infinite;
  mask: 
    linear-gradient(#fff 0 0) content-box, /* content-box here covers the stuff in the box EXCEPT the padding */
    linear-gradient(#fff 0 0);
  mask-composite: exclude; /* excludes the overlapping parts of the masks */
  padding: 0.5rem;
}

.card::after {
  filter: blur(3.5rem);
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0%   { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}

.box-1 {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
}

.box-2 {
  align-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
}

.box-3 {
  align-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 0;
}

.twinkle-background::before { /* we use the pseudo-class here so that the child elements do NOT inherit the background animation height */
  /* this is so that the child elements can expand based on their content, ensuring that the <Footer /> goes below these elements! */
  display: flex;
  justify-content: center;
}

#about {
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 5vw repeat(3, auto);
  justify-items: center;
  align-content: flex-start;
}

#writing,
#research {
  height: 100%;
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr 70vw 1fr;
  grid-template-rows: 5vw repeat(3, auto);
  justify-items: center;
  align-content: flex-start;
}

.about-text {
  font-size: 2rem;
}

.portrait {
  border-radius: 50%;
  border: 5px solid white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.about-box1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  width: 100%;
}

.about-box2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
  width: 100%;
}

.about-box3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 0;
  width: 100%;
}

.writing-box1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
}

.substack-post-embed {
  text-align: left;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.stargazer {
  display: none;
}

.stargazer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  text-align: left;
  user-select: none;
  width: 30vw;
  height: 20vw;
  border: 0.5vw solid #606697;
  background-color: rgba(0, 0, 0, 0.5);  /* Translucent black background */
  backdrop-filter: blur(5px);
  padding: 0 1vw;
  position: absolute; /* or fixed */
  top: 0;
  left: 0;
  will-change: transform;
}

@media (max-width: 800px) {
  .starry-page {
    grid-template-rows: 25vw auto auto;
    gap: 15vw;
  }

  .bio {
    font-size: 5vw;
  }

  .twinkle-box {
    padding-inline: 25px;
    border-radius: 0px;
  }

  #about,
  #writing,
  #research {
    grid-template-rows: 25vw repeat(3, auto);
    gap: 15vw;
  }

  .aboutme-animation,
  .writing-animation, 
  .research-animation {
    font-size: 10vw;
    font-weight: 700;
  }

  .about-text {
    font-size: 5vw;
  }

  .stargazer-box {
    font-size: 6vw;
    width: 70vw;
    height: 80vw;
    border: 2vw solid #606697;
    padding: 0 5vw;
  }
}