@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  overflow-x: clip; /* for future reference: overflow-x clip removes the horizontal scrollbar WITHOUT adding a second vertical scrollbar. Hidden DOES NOT do this! */
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.home-page-scroll {
  overflow-x: hidden;
}

.sweet-loading {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* Ensure full viewport height */
}

footer {
  margin-top: 50px;
  font-size: 1rem;
}

@media (width <= 800px) {
  footer {
    font-size: 0.5rem;
  }
}