@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  position: absolute;
  margin: 0;
}

.splash-active {
  color: var(--foreground);
  background: var(--background);
    /* Flexbox to center everything */
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default margin */
  text-align: center; /* Centers text inside elements */
}

.home-page {
    /* Flexbox to center everything */
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: auto; /* Ensure full viewport height */
  margin: 0; /* Remove default margin */
  text-align: center; /* Centers text inside elements */
}

.twinkle {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.twinkle-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between; /* magically ensures the children don't span the entire div width */
  text-align: left;
  position: relative;
  top: 50vh;
  width: 75vw;
  padding-inline: 100px;
  margin: 0;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.6);  /* Translucent black background */
  backdrop-filter: blur(0px);  /* Optional: Glass effect */
  z-index: 1;  /* Make sure it's behind the text */
  border: 5px solid white;
}

.sweet-loading {
  color: var(--foreground);
  background: var(--background);
    /* Flexbox to center everything */
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: auto; /* Ensure full viewport height */
  margin: 0; /* Remove default margin */
  text-align: center; /* Centers text inside elements */
}