@tailwind base;
@tailwind components;
@tailwind utilities;

/* Parallax Container */
.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover; /*cover*/
  background-position: center center; /* Keep the image centered */
  min-width: 100%;
}

/* Parallax Layer */
.parallax-layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  aspect-ratio: 1.8125;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  background-size: 100% 100%;
  background-position: center center; /* Keep the image centered */
  background-repeat: "repeat-x";
  min-width: 1920px;
  min-height: 965px;
  z-index: 1; /* Ensure layers stack correctly */
}

/* Static Layer */
.static-layer {
  position: absolute; /* Fixes it to a certain position */
  top: 0; /* Adjust to where you want the static layer */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  aspect-ratio: 1.8125;
  background-size: 100% 100%;
  background-position: center center;
  min-width: 1920px;
  min-height: 965px;
  z-index: 1; /* To ensure it's above the background layers but below parallax layers */
}

.mountains {
    animation: moveLayer 30s linear infinite;
}

.cloud1 {
    animation: moveLayer 30s linear infinite;
}

.cloud2 {
    animation: moveLayer 30s linear infinite;
}

.cloud3 {
    animation: moveLayer 30s linear infinite;
}