.socials {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0.5vw;
    justify-items: center;
    margin-top: 2vw;
}

.sm {
    width: 1.5vw;
    height: auto;
}

@media (max-width: 800px) {
    .socials {
        grid-template-columns: repeat(5, auto);
        gap: 5vw;
    }

    .sm {
        width: 7vw;
    }
}