.library-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: row;
    gap: 2vw;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.book-image {
    aspect-ratio: 2 / 3;
    position: relative;
    overflow: hidden;
    height: auto;
}

.book-card {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #606697;
}

.book-title {
    font-size: 1vw;
    font-weight: bold;
    margin: 0 2vw;
}

@media (max-width: 800px) {
    .library-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}