.library-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vw;
    align-items: start;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    align-items: stretch;
}

.book-card,
.book-image {
    aspect-ratio: 2 / 3;
    position: relative;
    overflow: hidden;
    height: auto;
}

.book-card {
    display: flex;
    align-items: center;
    background-color: #606697;
}

.book-title {
    font-size: 1vw;
    font-weight: bold;
    margin: 0 2vw;
}

.category {
    font-size: 1.5vw;
    margin-top: 0;
}

.category-button {
    all: unset;
    cursor: pointer;
}

.category-text {
    font-size: 1vw;
    transition: font-size 0.3s ease, font-weight 0.3s ease, text-shadow 0.3s ease;
}

.category-list {
    padding: 0;
    list-style: none;
}

.subcategory-list {
    list-style: none;
}

.category-selected {
    font-size: 1.5vw;
    font-weight: 700;
    text-shadow: 0 0 8px #cbcb85, 0 0 16px #cbcb85;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.list-item-hidden {
    display: none;
}

@media (max-width: 800px) {
    .library-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .category {
        font-size: 4.5vw;
    }

    .category-text {
        font-size: 3vw;
    }

    .subcategory-list {
        padding: 0;
    }
}